@model Festival


<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="project-info-box mt-0">
                <h5>@Model.Name</h5>
                <p class="mb-0">@Model.Description</p>
            </div><

            <div class="project-info-box" mb-4>
                <p><b>City:</b>@Model.Location.City</p>
                <p><b>Street:</b>@Model.Location.Street</p>
                <p><b>State:</b>@Model.Location.State</p>
               
            </div>

            <div>
                <div class="row">
                    
                        <a asp-controller="Festival" asp-action="Edit" class="btn btn-primary col-3">Update</a>

                    <a class ="col-3 btn btn-danger">Delete</a>
                    
                </div>
                
                
            </div>
            
            
        </div><!-- / column -->

        <div class="col-md-7">
            <img src="@Model.ImageUrl" alt="project-image" class="rounded" width="500" height="500">
            <div class="project-info-box">
                <p><b>Genre:</b> Country Music Festival</p>
                
            </div><!-- / project-info-box -->
        </div><!-- / column -->
    </div>
</div>