@model Festival


<div class="container">
    <div class="row">
        <div class="col-md-5 my-5">
            <div class="project-info-box mt-0">
                <h3 class="text-white my-4 font-weight-bold">@Model.Name</h3>
                <p class="mb-2 text-white bg-success">@Model.Description</p>
                <p class="me-2 text-white">
                    Artist: @foreach (var artist in Model.Artists)
                    {
                        <span class="badge bg-warning me-1">@artist.Name</span>
                    }
                </p>
            </div>

            <div class="mb-2">
                <p class="text-white mb-2"><b>City: </b>@Model.Location.City</p>
                <p class="text-white mb-2"><b>Street: </b>@Model.Location.Street</p>
                <p class="text-white mb-2"><b>State: </b>@Model.Location.State</p>
               
            </div>

            <div>
                <div class="row d-flex">
                    <div class="mt-3">
                        @if(User.Identity.IsAuthenticated && User.IsInRole("Admin")){
                            <a asp-controller="Festival" asp-action="Edit" class="btn btn-primary col-3" asp-route-id="@Model.Id">Update</a>

                            <a class="col-3 btn btn-danger" asp-controller="Festival" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
                        }
                   
                    </div>
                    <div>
                        <a class="btn btn-secondary my-4" asp-controller="Festival" asp-action="Index">Back To Festival</a>
                        
                    </div>
                </div>
                
                
            </div>
            
            
        </div>

        <div class="col-md-7">
            <img src="@Model.ImageUrl" alt="project-image" class="rounded" width="500" height="500">
            <a class="btn btn-danger" asp-controller="SaveFestival" asp-action="Add" asp-route-id="@Model.Id">Add To Favourite</a>
        </div>
    </div>
</div>