@model List<Festival>


<div class="row py-lg-5 text-center">
    <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light text-white">Festivals</h1>
        <p class="lead text-muted">Our festival app has everything you need to make the most of your music festival experience. Discover festivals, plan your itinerary, connect with other music enthusiasts, and get real-time updates on festival news and weather alerts, all from the convenience of your smartphone</p>
        <p>
            <a href="#" class="btn btn-primary my-2">Local Festivals</a>
            <a href="#" class="btn btn-secondary my-2">Upcoming Festivals</a>
        </p>
    </div>
</div>
<div class="mt-2">
    <div class="container">
        <a class="btn btn-primary mb-3" asp-controller="Festival" asp-action="Create">Add Festival</a>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            @foreach(Festival festival in Model)
            {
                <div class="col-4">
                    <div class="card shadow-sm selected">
                        <img class="card-img-top card-pic" src="@festival.ImageUrl" alt="Card image cap">

                        <div class="card-body">

                            
                                <p class="me-2">Artist: @foreach (var artist in festival.Artists)
                                {
                                    <a href=""><span class="badge bg-secondary me-1">@artist.Name</span></a>
                                }
                                </p>
                            
                            
                            <p class="text-muted">Location: @festival.Location.City</p>
                            <p class="card-text">@festival.Description</p>
                           @* <p class="card-text">Artist: @festival.Artist.</p>*@
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-sm btn-outline-secondary me-2" asp-controller="Festival" asp-action="Detail" asp-route-id = "@festival.Id">View</a>
                                    <a class="btn btn-sm btn-outline-success" asp-controller="Dashboard" asp-action="Add" asp-route-id="@festival.Id">Add To Favourite</a>
                                </div>
                                <small class="text-muted">@festival.Date</small>
                             </div>
                         </div>
                     </div>
                 </div>
            }
            
        </div>
    </div>
</div>
